:root {
  --main-color: #00aee0;
  --white: #fcfcfc;
  --black: #222;
}

/* -----------------------------------------
  全体
----------------------------------------- */
body {
  font-family: "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif;
  background-color: #f5f5f5;/*#ecf4d9;*/
  color: var(--black);
}

#content {
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  background-color: var(--white);
}
/* -----------------------------------------
  見出し
----------------------------------------- */
h1 {
  padding: .75em 1em;
  margin: 1.5em 0;
  border-bottom: solid 3px var(--black);
}

h2 {
  position: relative;
  padding: .75em 1em;
  margin: 1.5em 0;
  background-color: var(--main-color);
  border-top: 2px solid var(--white);
  border-bottom: 2px solid var(--white);
  color: var(--white);
}

h2:before {
  position: absolute;
  top: -4px;
  left: 0px;
  width: 100%;
  height: calc(100% + 4px);
  content: '';
  border-top: 2px solid var(--main-color);
  border-bottom: 2px solid var(--main-color);
}

/* -----------------------------------------
  目次
----------------------------------------- */
#toc {
  display: flex;
  flex-direction: column; /* 列方向に配置 */
  align-items: center; /* 横方向の中央揃え */
}

#toc-title {
  text-align: center; /* 目次の中央揃え */
}

#toc #toc-content li a {
  text-decoration: none;
  color: var(--black);
}

/* -----------------------------------------
  以下、本ページ限定
----------------------------------------- */
[data-copy] {
  cursor: pointer;
}

.tones {
  display: flex;
  flex-wrap: wrap;
}

.tone {
margin: 20px;
}

.colors {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.color-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.color {
  width: 70px;
  height: 70px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  color: white;
  border-radius: 50%;
}

.color-text {
  text-align: center;
}

.color-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5px;
}

.color-info div {
  margin-bottom: 5px;
}

/* 画面幅が 2400px より大きい場合 */
@media screen and (min-width: 2401px) {
  .color-container {
      width: calc(100% / 12); /* 12個並ぶ */
  }
}

/* 画面幅が 1600px 以下の場合 */
@media screen and (max-width: 1600px) {
  .color-container {
      width: calc(100% / 6); /* 3個並ぶ */
  }
}

/* 画面幅が 1200px 以下の場合 */
@media screen and (max-width: 1200px) {
  .color-container {
      width: calc(100% / 4); /* 4個並ぶ */
  }
}

/* 画面幅が 600px 以下の場合 */
@media screen and (max-width: 600px) {
  .color-container {
      width: calc(100% / 3); /* 4個並ぶ */
  }
}

/* 画面幅が 768px 以下の場合 */
@media screen and (max-width: 425px) {
  .color-container {
      width: calc(100% / 2); /* 6個並ぶ */
  }
}
